.container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.innerLayer {
    height: 450px;
    width: 100%;
}

.size-8 {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}
